.startup-container {
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.startup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.startup-info {
  display: flex;
  align-items: center;
}

.startup-logo {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.startup-description {
  max-width: 800px;
}

.create-startup-button {
  align-self: flex-start;
  background-color: var(--indigo-500);
  border-color: var(--indigo-500);
}

.startup-table-section {
  margin-top: 10px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
